.todo-item {
  display: flex;
  align-items: center;
  color: white;
  padding: 5px;
}

.todo-text {
  margin: 5px;
  text-align: left;
  width: 100%;
}

.todo-delete {
  margin: 5px;
  height: 100%;
  width: auto;
  align-items: right;
  justify-content: right;
}